#search-results{
    position: absolute;
    width:100%;
    font-size: 0.9rem;
    top: 42px;
    padding-left: 5px;
    padding-right: 5px;    
    margin-top: -5px;
    z-index: 1;
}

#search-nav-container {
    position: relative;
    width: 100%;
}

#search-results ul li{
    list-style-type: none;
    list-style: none;
    padding: 8px;
}

.td-search-input.form-control:focus{
    color: #495057;    
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 3px #82afd5;
}

#search-results ul{
    list-style-type: none;
    list-style: none;
    padding: 8px;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background: #fff;
}