/**
* Custom SCSS for feature Reading-time for Docs-Adtopy (SmartClip)
* Author: Felipe Rodriguez
* Date: February 2020
* License: MIT
*/

p.reading-time { color: #AD6200; float: right; margin-top: 0.7rem; margin-bottom: 0; margin-right: 1.7rem; }